sessions/
node_modules/
iisnode/
web.config
node-console.iml
node-console.ipr
node-console.iws

assets/scripts/components/debug.log
.angular/
dist/
projects/ziti/templates.json
projects/ziti/tags.json
projects/ziti/settings.json
projects/ziti/resources/icon/switch.svg
projects/ziti/resources/icon/startup.svg
projects/ziti/resources/icon/routers.svg
projects/ziti/resources/icon/route.svg
projects/ziti/resources/icon/objective.svg
projects/ziti/resources/icon/language.svg
projects/ziti/resources/icon/house.svg
projects/ziti/resources/icon/gear.svg
projects/ziti/resources/icon/gateway.svg
projects/ziti/resources/icon/front.svg
projects/ziti/resources/icon/fabrics.svg
projects/ziti/resources/icon/fabricServices.svg
projects/ziti/resources/icon/explosion.svg
projects/ziti/resources/icon/delivery-truck.svg
projects/ziti/resources/icon/data.svg
projects/ziti/resources/icon/computer.svg
projects/ziti/resources/icon/clusters.svg
projects/ziti/resources/icon/cas.svg
projects/ziti/resources/icon/bus.svg
projects/ziti/resources/icon/bike.svg
projects/ziti/resources/icon/architecture.svg
projects/ziti/resources/icon/appwans.svg
projects/ziti/resources/icon/analysis.svg
projects/ziti/resources/avatar/woman.svg
projects/ziti/resources/avatar/man.svg
