<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
          <clientCache cacheControlMode="UseMaxAge" />
        </staticContent>
        <handlers>
          <add name="StaticFilesCss" path="/assets/styles/*.css" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
    	    <add name="StaticFilesJs" path="/assets/scripts/*.js" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
          <add name="iisnode" path="server.cjs" verb="*" modules="iisnode" responseBufferLimit="0" />
        </handlers>
        <rewrite>
            <rules>
                <clear />
                <rule name="StaticContent" stopProcessing="true">
		              <match url="/assets/([\S]+[.](jpg|jpeg|gif|css|png|js|ts|cscc|less|ico|html|map|svg))" />
		              <action type="None" />
	    	        </rule>
                <rule name="ZitiRedirect">
                    <match url="/*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="server.cjs" />
                </rule>
            </rules>
        </rewrite>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="334217728" />
            </requestFiltering>
       </security>
       <iisnode node_env="production" enableXFF="true" />
    </system.webServer>
    <system.web>
    <httpRuntime maxRequestLength="51200" executionTimeout="3600" />
    </system.web>
</configuration>
