<div class="tabs">
    <div class="tab" data-go="/identities" data-i18n="Identities"></div>
    <div class="tab" data-go="/recipes" data-i18n="Recipes"></div>
    <div class="tab" data-go="/edge-services" data-i18n="Services"></div>
    <div class="tab" data-go="/edge-routers" data-i18n="EdgeRouters"></div>
    <div class="tab" data-go="/transit-routers" data-i18n="TransitRouters"></div>
    <div class="tab" data-go="/terminators" data-i18n="Terminators"></div>
    <div class="tab" data-go="/posture-checks" data-i18n="PostureChecks"></div>
</div>