			
			<!-- Add Any Modal UI -->
			<div id="AddAnyModal" class="modal box" style="height: 310px; width: 900px">
				<div class="underlay"></div>
				<div class="close icon-close"></div>
				<div class="title" data-i18n="AddTitle"></div>
				<div class="grid singular">
					<div></div>
					<div class="launcher" data-add="/identities">
						<div class="image icon-ids"></div>
						<div class="label" data-i18n="AddIdentity"></div>
					</div>
					<div></div>
				</div>
				<div class="grid dual">
					<div class="launcher" data-add="/edge-routers">
						<div class="image icon-router"></div>
						<div class="label" data-i18n="AddRouter"></div>
					</div>
					<div class="launcher" data-add="/edge-services">
						<div class="image icon-services"></div>
						<div class="label" data-i18n="AddService"></div>
					</div>
				</div>
			</div>

			<!-- Operational Wizard UI -->
			<div id="WizardModal" class="modal box">
				<div class="close icon-close"></div>
				<div class="title" data-i18n="ZitiWizard"></div>
				<div class="subtitle" data-i18n="WizardService"></div>
				<div class="wizard area open">
					<label for="WServiceName" data-i18n="ServiceName"></label>
					<input id="WServiceName" type="text" maxlength="100" />
					<label for="WServiceRoles"></label>
				</div>
				<div></div>
			</div>

			<!-- Submit Bug UI -->
			<div id="AddMessageModal" class="modal box full">
				<div class="sized">
					<div class="close icon-close"></div>
					<div class="title" data-i18n="MessageTitle"></div>
					<div class="subtitle" data-i18n="MessageSubTitle"></div>
					<div class="split unsplit">
						<div>
							<label for="SendName" data-i18n="MessageName"></label>
							<input id="SendName" type="text" maxlength="500" data-i18n="EnterName"/>
						</div>
						<div>
							<label for="SendEMail" data-i18n="MessageEMail"></label>
							<input id="SendEMail" type="text" maxlength="500" data-i18n="EnterEMail" />
						</div>
					</div>
					<label data-i18n="Message"></label>
					<div>
						<textarea id="SendMessage" placeholder="Enter the message you would like to send"></textarea>
					</div>
					<label id="MessageType" data-i18n="MessageType"></label>
					<div class="grid quad">
						<div class="card option" data-type="bug">
							<div class="icon icon-bug"></div>
							<div class="contents" data-i18n="Bug"></div>
							<div class="checkbox icon-check"></div>
						</div>
						<div class="card option" data-type="feature">
							<div class="icon icon-bulb"></div>
							<div class="contents" data-i18n="FeatureRequest"></div>
							<div class="checkbox icon-check"></div>
						</div>
						<div class="card option" data-type="love">
							<div class="icon icon-hearts"></div>
							<div class="contents" data-i18n="LoveLetter"></div>
							<div class="checkbox icon-check"></div>
						</div>
						<div class="card option" data-type="message">
							<div class="icon icon-question-sign"></div>
							<div class="contents" data-i18n="Message"></div>
							<div class="checkbox icon-check"></div>
						</div>
					</div>
					<div class="loved"></div>
					<div class="buttons">
						<div class="linkButton closer" data-i18n="Oops"></div>
						<div id="SendMessageButton" class="button" data-i18n="Send"></div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>