<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="cache-control" CONTENT="no-cache">
		<meta name="keywords" content="OpenZiti,ZAC,Management,Zero Trust" />
		<meta name="description" content="Open Ziti Management Console interface for accessing your zero trust network policies, users, and services for a provided ziti controller" />
		<title>{{title}}</title>
		<!-- Icons -->
		<meta name="msapplication-TileColor" content="#ffffff"/>
		<meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png"/>
		<meta name="theme-color" content="#ffffff"/>
		<link rel="shortcut icon" id="appFavicon" href="/assets/icons/favicon.ico">
		<link rel="apple-touch-icon" id="appFaviconApple57" sizes="57x57" href="/assets/icons/apple-icon-57x57.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple60" sizes="60x60" href="/assets/icons/apple-icon-60x60.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple72" sizes="72x72" href="/assets/icons/apple-icon-72x72.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple76" sizes="76x76" href="/assets/icons/apple-icon-76x76.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple114" sizes="114x114" href="/assets/icons/apple-icon-114x114.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple120" sizes="120x120" href="/assets/icons/apple-icon-120x120.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple144" sizes="144x144" href="/assets/icons/apple-icon-144x144.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple152" sizes="152x152" href="/assets/icons/apple-icon-152x152.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple180" sizes="180x180" href="/assets/icons/apple-icon-180x180.png"/>
		<link rel="icon" type="image/png" id="appFavicon192" sizes="192x192"  href="/assets/icons/android-icon-192x192.png"/>
		<link rel="icon" type="image/png" id="appFavicon32" sizes="32x32" href="/assets/icons/favicon-32x32.png"/>
		<link rel="icon" type="image/png" id="appFavicon96" sizes="96x96" href="/assets/icons/favicon-96x96.png"/>
		<link rel="icon" type="image/png" id="appFavicon16" sizes="16x16" href="/assets/icons/favicon-16x16.png"/>
		<!-- Styles -->
		<link href="/assets/styles/icons.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/tables.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/ziti.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/header.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/navigation.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/forms.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/growler.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/spectrum.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/tooltip.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/scripts/components/leaflet/leaflet.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/chart.min.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/datetimepicker.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/scripts/components/column.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/scripts/components/codemirror/codemirror.css" rel="stylesheet" type="text/css"/>	
	
		<!-- 3rd Party Includes -->
		<script src="/assets/scripts/jquery-3.6.3.min.js"></script>
		<script src="/assets/scripts/components/moment.js"></script>
		<script src="/assets/scripts/components/timezone.js"></script>
		<script src="/assets/scripts/components/spectrum.js"></script>
		<script crossorigin="anonymous" src="/assets/scripts/components/leaflet/leaflet.js"></script>	
	
		<!-- NetFoundry Components -->
		<script src="/assets/scripts/components/column.js"></script>
		<script src="/assets/scripts/forms/schema.js"></script>
		<script src="/assets/scripts/components/codemirror/codemirror.js"></script>
		<script src="/assets/scripts/components/codemirror/modes/xml.js"></script>
		<script src="/assets/scripts/components/codemirror/modes/javascript.js"></script>
		<script src="/assets/scripts/components/codemirror/modes/css.js"></script>
		<script src="/assets/scripts/components/codemirror/modes/htmlmixed.js"></script>
		<script src="/assets/scripts/components/codemirror/modes/addons/closetags.js"></script>
		<script src="/assets/scripts/components/codemirror/modes/addons/colorize.js"></script>
		<script src="/assets/scripts/components/codemirror/modes/addons/css-hint.js"></script>
		<script src="/assets/scripts/components/codemirror/modes/addons/html-hint.js"></script>
		<script src="/assets/scripts/components/codemirror/modes/addons/javascript-hint.js"></script>
		<script src="/assets/scripts/components/codemirror/modes/addons/show-hint.js"></script>
		<script src="/assets/scripts/components/codemirror/modes/addons/formatting.js"></script>
		<script src="/assets/scripts/components/flows.js"></script>
		<script src="/assets/scripts/components/qrcode.min.js"></script>
		<!-- Application Utilities -->
		<script src="/assets/scripts/service.js"></script>
		<script src="/assets/scripts/context.js"></script>
		<script src="/assets/scripts/growler.js"></script>
		<script src="/assets/scripts/modal.js"></script>
		<script src="/assets/scripts/restrictions.js"></script>
		<script src="/assets/scripts/dragging.js"></script>
		<script src="/assets/scripts/components/resources.js"></script>
		<script src="/assets/scripts/components/uploader.js"></script>
		<script src="/assets/scripts/commands.js"></script>
		<script src="/assets/scripts/jquery.datetimepicker.js"></script>
		<!-- Application Objects -->
		<script src="/assets/scripts/model/data.js"></script>
		<script src="/assets/scripts/components/selector.js"></script>
		<script src="/assets/scripts/components/multiselect.js"></script>
		<script src="/assets/scripts/model/settings.js"></script>
		<script src="/assets/scripts/model/user.js"></script>
		<script src="/assets/scripts/model/summary.js"></script>
		<script src="/assets/scripts/model/tags.js"></script>
		<script src="/assets/scripts/model/known.js"></script>
		<script src="/assets/scripts/model/templates.js"></script>
		<script src="/assets/scripts/model/routers.js"></script>
		<script src="/assets/scripts/model/links.js"></script>
		<script src="/assets/scripts/model/series.js"></script>
		<script src="/assets/scripts/model/sessions.js"></script>
		<script src="/assets/scripts/locale.js"></script>
		<!-- Application -->
		<script src="/assets/scripts/header.js"></script>
		<script src="/assets/scripts/ziti.js"></script>
	
		<style>
	{{html.style}}
		</style>
		<script type="text/javascript">
			let canStyle = {{html.canStyle}};
			window.dataLayer = window.dataLayer || [];
	
			if (localStorage.getItem("mode")!=null&&localStorage.getItem("mode")=="dark") {
				var link = document.createElement( "link" );
				link.href = "/assets/styles/dark.css";
				link.type = "text/css";
				link.rel = "stylesheet";
				link.media = "screen";
				document.getElementsByTagName("head")[0].appendChild(link);
			}
			if (canStyle) {
				if (localStorage.getItem("primaryColor")!=null) {
					document.documentElement.style.setProperty("--primary", localStorage.getItem("primaryColor"));
				}
				if (localStorage.getItem("secondaryColor")!=null) {
					document.documentElement.style.setProperty("--secondary", localStorage.getItem("secondaryColor"));
				}
			}
			var mode = localStorage.getItem("Transitions");
			if (mode=="off") {
				document.documentElement.style.setProperty("--transition", "0s");
			} else {
				document.documentElement.style.setProperty("--transition", "0.5s");
			}
			$(document).ready((e) => {
				if (canStyle) $(".personal").show();
			});
		</script>	
	</head>
	<body>
		<header class="auth{{auth}}">
			<div class="topButtons">
			  <div id="NavigationButton" class="clickable main AreaNavigation" data-open="AreaNavigation" data-hover="NetworkHover">
					<div class="circle"></div>
					<div class="icon icon-globe"></div>
					<div id="NetworkHover" class="hover" data-i18n="NetworkSettings"></div>
			  </div> 
			  <div id="AddButton" class="clickable" data-hover="AddHover">
					<div class="circle"></div>
					<div class="icon"></div>
					<div id="AddHover" class="hover">Add New</div>
			  </div>
			  <a href="/attributes">
			  <div id="AttributesButton" class="clickable" data-hover="AttributeHover">
				<div class="circle"></div>
				<div class="icon icon-hash"></div>
				<div id="AttributeHover" class="hover">Attribute Explorer</div>
		  	  </div>
			  </a>
			  <div id="SearchButton" class="clickable" data-hover="SearchHover" style="display: none;">
					<div class="clicked"></div>
					<div class="circle"></div>
					<div class="icon"></div>
					<div id="SearchHover" class="hover" data-i18n="Search"></div>
			  </div>
			</div>
			<div class="bottomButtons">
			  <div id="AlertButton" class="clickable">
				<div class="circle"></div>
				<div class="icon"></div>
					<div id="AlarmCount" class="count"></div>
			  	</div>
			  <div id="HelpButton" class="clickable AreaSupport" data-modal="AddMessageModal">
				<div class="clicked"></div>
				<div class="circle"></div>
				<div class="icon"></div>
			  </div>
			  <div id="OrgButton" class="clickable AreaOrganization" data-open="AreaOrganization">
				<div class="clicked"></div>
				<div class="circle"></div>
				<div class="icon"></div>
			  </div>
			  <div id="ProfileButton" class="clickable main" data-show="ProfileMenu">
				<div class="main"></div>
				<div class="circle"></div>
				<div class="icon"></div>
				<div id="ProfileMenu" class="menu">
				  <div class="menutitle"></div>
				  <div id="ProfileButton" class="link" data-go="/profile" data-i18n="EditProfile"></div>
				  <div id="SettingsButton" class="link" data-go="/settings" data-i18n="PersonalSettings"></div>
				  <div id="LogoutButton" class="link" data-go="/login" data-i18n="Logout"></div>
				</div>
			  </div>
			</div>
		</header>
		<nav class="auth{{auth}}">
			<div class="title" data-i18n="AppName"></div>
			<div id="Version" class="version"></div>
			<div id="CustomLogo"></div>
			<div id="AreaNavigation" class="navArea">
				<div class="navList">
					<a href="/">
						<div class="navButton">
							<div class="iconArea rippler"><div class="image icon-dashboard"></div></div>
							<div class="label" data-i18n="Dashboard"></div>
						</div>
					</a>
					<a href="/identities">
						<div class="navButton">
							<div class="iconArea rippler"><div class="image icon-identity"></div></div>
							<div class="label" data-i18n="Identities"></div>
						</div>
					</a>
					<a href="/recipes">
						<div class="navButton">
							<div class="iconArea rippler"><div class="image icon-template"></div></div>
							<div class="label" data-i18n="Recipes"></div>
						</div>
					</a>

					<a href="/services">
						<div class="navButton">
							<div class="iconArea rippler"><div class="image icon-services"></div></div>
							<div class="label" data-i18n="Services"></div>
						</div>
					</a>
					<a href="/configs">
						<div class="navButton">
							<div class="iconArea rippler"><div class="image icon-change"></div></div>
							<div class="label" data-i18n="Configurations"></div>
						</div>
					</a>
					<a href="/service-policies">
						<div class="navButton">
							<div class="iconArea rippler"><div class="image icon-servicepolicy"></div></div>
							<div class="label" data-i18n="Policies"></div>
						</div>
					</a>

					<a href="/routers">
						<div class="navButton">
							<div class="iconArea rippler"><div class="image icon-network-hub"></div></div>
							<div class="label" data-i18n="Routers"></div>
						</div>
					</a>

					<a href="/cas">
						<div class="navButton">
							<div class="iconArea rippler"><div class="image icon-certificates"></div></div>
							<div class="label" data-i18n="CertificateAuthorities"></div>
						</div>
					</a>
					<a href="/sessions">
						<div class="navButton">
							<div class="iconArea rippler"><div class="image icon-time"></div></div>
							<div class="label" data-i18n="Sessions"></div>
						</div>
					</a>
				</div>
			</div>
			<div id="AreaOrganization" class="navArea">
				<div class="navList">
					<a href="/servers">
						<div class="navButton">
							<div class="iconArea rippler"><div class="image icon-server-1"></div></div>
							<div class="label" data-i18n="ServerSettings"></div>
						</div>
					</a>
					<a href="/organization">
						<div class="navButton">
							<div class="iconArea rippler"><div class="image icon-configuration"></div></div>
							<div class="label" data-i18n="CustomFields"></div>
						</div>
					</a>

					<div class="navButton" data-go="/known" style="display: none;">
						<div class="iconArea rippler"><div class="image icon-known"></div></div>
						<div class="label" data-i18n="WellKnownServices"></div>
					</div>
				</div>
			</div>
		</nav>
		<div id="NotificationsMenu">
			<div id="NotificationMenuClose" class="close icon-close"></div>
			<div class="row">
				<div class="header title" data-i18n="RecentNotifications"></div>
				<div id="ClearNotificationsButton" class="subLink" data-i18n="ClearNotifications"></div>
			</div>
			<div class="hr"></div>
			<div id="NotificationsList"></div>
	  	</div>	  
		<aside class="unauth{{auth}}">
			<div class="overlay"></div>
			<div class="icon"></div>
			<div class="title" data-i18n="Info"></div>
			<div class="title" id="LoginVersion"></div>
		</aside>
		<main>
			
		<div id="NotificationTemplate" class="growler row template">
			<div class="title">{{level}}</div>
			<div class="subtitle">{{subtitle}}</div>
			<div class="time">{{time}}</div>
			<div class="content">{{message}}</div>
			<div class="icon" style="background-image: url(/assets/images/{{type}}.png)"></div>
		</div>