<!doctype html>
<html>
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-91801335-7"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-91801335-7');
		</script>
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, initial-scale=1" />
		<meta http-equiv="cache-control" CONTENT="no-cache">
		<title>{{title}}</title>
		<!-- Icons -->
		<meta name="msapplication-TileColor" content="#ffffff"/>
		<meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png"/>
		<meta name="theme-color" content="#ffffff"/>
		<link rel="shortcut icon" id="appFavicon" href="/assets/icons/favicon.ico">
		<link rel="apple-touch-icon" id="appFaviconApple57" sizes="57x57" href="/assets/icons/apple-icon-57x57.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple60" sizes="60x60" href="/assets/icons/apple-icon-60x60.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple72" sizes="72x72" href="/assets/icons/apple-icon-72x72.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple76" sizes="76x76" href="/assets/icons/apple-icon-76x76.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple114" sizes="114x114" href="/assets/icons/apple-icon-114x114.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple120" sizes="120x120" href="/assets/icons/apple-icon-120x120.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple144" sizes="144x144" href="/assets/icons/apple-icon-144x144.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple152" sizes="152x152" href="/assets/icons/apple-icon-152x152.png"/>
		<link rel="apple-touch-icon" id="appFaviconApple180" sizes="180x180" href="/assets/icons/apple-icon-180x180.png"/>
		<link rel="icon" type="image/png" id="appFavicon192" sizes="192x192"  href="/assets/icons/android-icon-192x192.png"/>
		<link rel="icon" type="image/png" id="appFavicon32" sizes="32x32" href="/assets/icons/favicon-32x32.png"/>
		<link rel="icon" type="image/png" id="appFavicon96" sizes="96x96" href="/assets/icons/favicon-96x96.png"/>
		<link rel="icon" type="image/png" id="appFavicon16" sizes="16x16" href="/assets/icons/favicon-16x16.png"/>
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
		<!-- Styles -->
		<link href="/assets/styles/icons.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/tables.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/ziti.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/header.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/navigation.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/forms.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/growler.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/styles/spectrum.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/scripts/components/leaflet/leaflet.css" rel="stylesheet" type="text/css"/>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet" type="text/css"/>
		<!-- 3rd Party Includes -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/scripts/components/moment.js"></script>
		<script type="text/javascript" src="/assets/scripts/components/spectrum.js"></script>
		<script type="text/javascript" src="/assets/scripts/components/leaflet/leaflet.js"></script>	
		<script type="text/javascript" src="/assets/scripts/components/network/vis-network.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

		<!-- NetFoundry Components -->
		<link href="/assets/scripts/components/column.css" rel="stylesheet" type="text/css"/>
		<script src="/assets/scripts/components/column.js"></script>
		<script src="/assets/scripts/forms/schema.js"></script>
		<link href="/assets/scripts/components/codemirror/codemirror.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="/assets/scripts/components/codemirror/codemirror.js"></script>
        <script type="text/javascript" src="/assets/scripts/components/codemirror/modes/xml.js"></script>
        <script type="text/javascript" src="/assets/scripts/components/codemirror/modes/javascript.js"></script>
        <script type="text/javascript" src="/assets/scripts/components/codemirror/modes/css.js"></script>
        <script type="text/javascript" src="/assets/scripts/components/codemirror/modes/htmlmixed.js"></script>
        <script type="text/javascript" src="/assets/scripts/components/codemirror/modes/addons/closetags.js"></script>
        <script type="text/javascript" src="/assets/scripts/components/codemirror/modes/addons/colorize.js"></script>
        <script type="text/javascript" src="/assets/scripts/components/codemirror/modes/addons/css-hint.js"></script>
        <script type="text/javascript" src="/assets/scripts/components/codemirror/modes/addons/html-hint.js"></script>
        <script type="text/javascript" src="/assets/scripts/components/codemirror/modes/addons/javascript-hint.js"></script>
        <script type="text/javascript" src="/assets/scripts/components/codemirror/modes/addons/show-hint.js"></script>
        <script type="text/javascript" src="/assets/scripts/components/codemirror/modes/addons/formatting.js"></script>
		<script src="/assets/scripts/components/flows.js"></script>
		<script src="/assets/scripts/components/qrcode.min.js"></script>
		<!-- Application Utilities -->
		<script type="text/javascript" src="/assets/scripts/service.js"></script>
		<script type="text/javascript" src="/assets/scripts/context.js"></script>
		<script type="text/javascript" src="/assets/scripts/growler.js"></script>
		<script type="text/javascript" src="/assets/scripts/modal.js"></script>
		<script type="text/javascript" src="/assets/scripts/restrictions.js"></script>
		<script type="text/javascript" src="/assets/scripts/dragging.js"></script>
		<script type="text/javascript" src="/assets/scripts/components/resources.js"></script>
		<script type="text/javascript" src="/assets/scripts/components/uploader.js"></script>
		<!-- Application Objects -->
		<script type="text/javascript" src="/assets/scripts/model/data.js"></script>
		<script type="text/javascript" src="/assets/scripts/components/selector.js"></script>
		<script type="text/javascript" src="/assets/scripts/model/settings.js"></script>
		<script type="text/javascript" src="/assets/scripts/model/user.js"></script>
		<script type="text/javascript" src="/assets/scripts/model/summary.js"></script>
		<script type="text/javascript" src="/assets/scripts/model/tags.js"></script>
		<script type="text/javascript" src="/assets/scripts/model/fabric.js"></script>
		<script type="text/javascript" src="/assets/scripts/model/fabric.js"></script>
		<script type="text/javascript" src="/assets/scripts/model/fabricServices.js"></script>
		<script type="text/javascript" src="/assets/scripts/model/routers.js"></script>
		<script type="text/javascript" src="/assets/scripts/model/links.js"></script>
		<script type="text/javascript" src="/assets/scripts/model/series.js"></script>
		<script type="text/javascript" src="/assets/scripts/model/sessions.js"></script>
		<!-- Application -->
		<script type="text/javascript" src="/assets/scripts/header.js"></script>
		<script type="text/javascript" src="/assets/scripts/ziti.js"></script>

		<script type="text/javascript">
		if (localStorage.getItem("mode")!=null&&localStorage.getItem("mode")=="dark") {
			var link = document.createElement( "link" );
			link.href = "/assets/styles/dark.css";
			link.type = "text/css";
			link.rel = "stylesheet";
			link.media = "screen";
			document.getElementsByTagName("head")[0].appendChild(link);
		}
		if (localStorage.getItem("primaryColor")!=null) {
			document.documentElement.style.setProperty("--primary", localStorage.getItem("primaryColor"));
		}
		if (localStorage.getItem("secondaryColor")!=null) {
			document.documentElement.style.setProperty("--secondary", localStorage.getItem("secondaryColor"));
		}
		</script>		
	</head>
	<body>
		<header class="auth{{auth}}">
			<div class="topButtons">
			  <div id="NavigationButton" class="clickable main AreaNavigation" data-open="AreaNavigation" data-hover="NetworkHover">
					<div class="circle"></div>
					<div class="icon icon-globe"></div>
					<div id="NetworkHover" class="hover">Network Settings</div>
			  </div> 
			  <!-- 
			  <div id="AddButton" class="clickable" data-hover="AddHover">
					<div class="circle"></div>
					<div class="icon"></div>
					<div id="AddHover" class="hover">Add New</div>
			  </div>
			   -->
			  <div id="SearchButton" class="clickable" data-hover="SearchHover" style="display: none;">
					<div class="clicked"></div>
					<div class="circle"></div>
					<div class="icon"></div>
					<div id="SearchHover" class="hover">Search</div>
			  </div>
			</div>
			<div class="bottomButtons">
			  <div id="AlertButton" class="clickable">
				<div class="circle"></div>
				<div class="icon"></div>
					<div id="AlarmCount" class="count"></div>
			  	</div>
			  <div id="HelpButton" class="clickable AreaSupport" data-modal="AddMessageModal">
				<div class="clicked"></div>
				<div class="circle"></div>
				<div class="icon"></div>
			  </div>
			  <div id="OrgButton" class="clickable AreaOrganization" data-open="AreaOrganization">
				<div class="clicked"></div>
				<div class="circle"></div>
				<div class="icon"></div>
			  </div>
			  <div id="ProfileButton" class="clickable main" data-show="ProfileMenu">
				<div class="main"></div>
				<div class="circle"></div>
				<div class="icon"></div>
				<div id="ProfileMenu" class="menu">
				  <div class="menutitle"></div>
				  <div id="ProfileButton" class="link" data-go="/profile">Edit Profile</div>
				  <div id="SettingsButton" class="link" data-go="/settings">Personal Settings</div>
				  <div id="LogoutButton" class="link" data-go="/login">Logout</div>
				</div>
			  </div>
			</div>
		</header>
		<nav class="auth{{auth}}">
			<div class="title">Ziti Console</div>
			<div class="lock icon-lock"></div>
			<div id="Version" class="version"></div>
			<div id="AreaNavigation" class="navArea">
				<div class="navList">
					<div class="navButton" data-go="/">
						<div class="iconArea rippler"><div class="image icon-dashboard"></div></div>
						<div class="label">Dashboard</div>
					</div>
					<div class="navButton" data-go="/identities">
						<div class="iconArea rippler"><div class="image icon-identity"></div></div>
						<div class="label">Identities</div>
					</div>
					<div class="navButton" data-go="/edge-services">
						<div class="iconArea rippler"><div class="image icon-services"></div></div>
						<div class="label">Services</div>
					</div>
					<div class="navButton" data-go="/edge-routers">
						<div class="iconArea rippler"><div class="image icon-router"></div></div>
						<div class="label">Edge Routers</div>
					</div>
					<div class="navButton" data-go="/transit-routers">
						<div class="iconArea rippler"><div class="image icon-transitrouter"></div></div>
						<div class="label">Transit Routers</div>
					</div>
					<div class="navButton" data-go="/terminators">
						<div class="iconArea rippler"><div class="image icon-terminators"></div></div>
						<div class="label">Terminators</div>
					</div>
					<div class="navButton" data-go="/service-policies">
						<div class="iconArea rippler"><div class="image icon-servicepolicy"></div></div>
						<div class="label">Service Policies</div>
					</div>
					<div class="navButton" data-go="/router-policies">
						<div class="iconArea rippler"><div class="image icon-servers"></div></div>
						<div class="label">Router Policies</div>
					</div>
					<div class="navButton" data-go="/service-router-policies">
						<div class="iconArea rippler"><div class="image icon-servicepolicy"></div></div>
						<div class="label">Service/Router Policies</div>
					</div>
					<div class="navButton" data-go="/configs">
						<div class="iconArea rippler"><div class="image icon-change"></div></div>
						<div class="label">Service Configurations</div>
					</div>
					<div class="navButton" data-go="/config-types">
						<div class="iconArea rippler"><div class="image icon-schema"></div></div>
						<div class="label">Config Schemas</div>
					</div>
					<div class="navButton" data-go="/cas">
						<div class="iconArea rippler"><div class="image icon-certificates"></div></div>
						<div class="label">Certificate Authorities</div>
					</div>
					<!--
					<div class="navButton iffabric disabled" data-go="/fabric-services">
						<div class="iconArea rippler"><div class="image icon-fabricServices"></div></div>
						<div class="label">Fabric<br/>Services</div> 
					</div>
					<div class="navButton iffabric disabled" data-go="/fabric-routers">
						<div class="iconArea rippler"><div class="image icon-routers"></div></div>
						<div class="label">Fabric<br/>Routers</div>
					</div>
					<div class="navButton iffabric disabled" data-go="/fabric-links">
						<div class="iconArea rippler"><div class="image icon-linked"></div></div>
						<div class="label">Fabric<br/>Links</div>
					</div>

					-->
				</div>
			</div>
			<div id="AreaOrganization" class="navArea">
				<div class="navList">
					<div class="navButton" data-go="/servers">
						<div class="iconArea rippler"><div class="image icon-server-1"></div></div>
						<div class="label">Server<br/>Settings</div>
					</div>
					<div class="navButton" data-go="/organization">
						<div class="iconArea rippler"><div class="image icon-configuration"></div></div>
						<div class="label">Custom<br/>Fields</div>
					</div>
				</div>
			</div>
		</nav>
		<div id="NotificationsMenu">
			<div id="NotificationMenuClose" class="close icon-close"></div>
			<div class="row">
				<div class="header title">Recent Notifications</div>
				<div id="ClearNotificationsButton" class="subLink">Clear Notifications</div>
			</div>
			<div class="hr"></div>
			<div id="NotificationsList"></div>
	  	</div>	  
		<aside class="unauth{{auth}}">
			<div class="overlay"></div>
			<div class="icon"></div>
			<div class="title">Administer your NetFoundry Ziti Virtual Network with Ziti Admin console</div>
		</aside>
		<main>
			
		<div id="NotificationTemplate" class="growler row template">
			<div class="title">{{level}}</div>
			<div class="subtitle">{{subtitle}}</div>
			<div class="time">{{time}}</div>
			<div class="content">{{message}}</div>
			<div class="icon" style="background-image: url(/assets/images/{{type}}.png)"></div>
		</div>