<div class="loginForm standard-form-fields" (keyup.enter)="next()">
    <div *ngIf="!isLoading">
        <div class="title">Ziti Admin Console</div>
        <div class="subtitle">Welcome, please login to continue</div>
        <lib-selector-input
            *ngIf="!svc.originIsController"
            [fieldName]="'Edge Controller'"
            [(fieldValue)]="selectedEdgeController"
            [error]="edgeNameError"
            [placeholder]="'Select an Edge Controller'"
            [valueList]="edgeControllerList"
            [helpText]="helpText"
            [fieldClass]="controllerInvalid ? 'invalid' : ''"
            (fieldValueChange)="edgeChanged($event)"
        >
        </lib-selector-input>
        <label for="Username" class="userlogin open">Username</label>
        <input
            id="Username"
            name="username"
            type="text"
            autocomplete="on"
            required
            [placeholder]="'enter username of controller'"
            (change)="usernameChange($event)"
            (keyup)="usernameChange($event)"
        >
        <label for="Password" class="userlogin open">Password</label>
        <input
            id="Password"
            name="password"
            type="password"
            autocomplete="on"
            required
            [placeholder]="'enter password of controller'"
            (change)="passwordChange($event)"
            (keyup)="passwordChange($event)"
        >
        <div class="buttons">
            <button class="button" (click)="login()">Login</button>
        </div>
    </div>
</div>
<lib-loading-indicator *ngIf="isLoading" [isLoading]="isLoading"></lib-loading-indicator>
