.login-page {
  background-color: var(--background);
  font-family: 'Open Sans';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .login-center-column {
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input {
    border-radius: 0.4375rem !important;
    webkit-box-shadow: unset !important;
    height: calc(var(--defaultInputHeight) + .25rem);
  }

  .gradientbg {
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: 0 60%;
    height: 75vh;
    background: -webkit-linear-gradient(354deg, var(--secondaryColor), var(--primaryColor) 105%);
    transform: skewY(342deg);
    margin-top: -1rem;
  }

  .right-rect {
    position: absolute;
    height: 2.0625rem;
    width: 16%;
    bottom: -0.9375rem;
    right: 0;
    background-color: var(--secondaryColor);
    box-shadow: 0 0.3125rem 1.5625rem 0 rgb(0 0 0 / 20%);
  }

  .left-rect {
    position: absolute;
    height: 2.0625rem;
    width: 16%;
    bottom: -0.9375rem;
    left: 0;
    background-color:  var(--primaryColor);
    box-shadow: 0 0.3125rem 1.5625rem 0 rgb(0 0 0 / 20%);
  }

  .splash-page-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;

    lib-selector-input {
      width: 100%;
    }

    .splash-page-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      max-width: 32.5rem;
      background-color: rgb(236, 238, 242);
      border-radius: var(--modalBorderRadius);
      padding: var(--paddingXXXL);
      box-shadow: 0 0.3125rem 1.5625rem rgba(0, 0, 0, 0.2);
      position: relative;
      gap: var(--gapXL);

      &.noControllers {
        max-width: fit-content;
      }
    }

    .ziti-logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--gapLarge);

      .ziti-logo {
        background-image: url(/assets/svgs/ziti-logo.svg);
        background-size: 100%;
        height: 5.5rem;
        width: 5.5rem;
        margin-top: -.25rem;
      }
    }
    .ziti-logo-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a {
        color: var(--primaryColor);
        &:hover {
          text-decoration: underline !important;
        }
      }

      .title-text-row {
        color: var(--primaryColor) !important;
        filter: brightness(var(--brightnessDark));
        opacity: 1;
        font-family: Russo One, Arial, sans-serif;
        font-size: 3rem;
        font-weight: 400 !important;
        margin: 0 !important;
        text-align: center;

        &.title-top-text {
          font-size: 2.75rem !important;
          line-height: 2.25rem;
          font-variant: small-caps;
          font-size-adjust: 0.47;
        }
        &.title-bottom-text {
          display: flex;
          justify-content: flex-start;
          align-items: baseline;
          gap: var(--gapSmall);
          font-size: 1.275rem;
          .nf-name-text {
            font-variant: small-caps;
            font-size-adjust: 0.47;
            font-size: 1.475rem;
          }
        }
      }
    }

    .buttons-container {
      width: 100%;

      .login-button {
        width: 100%;
        text-transform: uppercase;
      }
    }

    .welcome-text {
      font-size: 1.325rem;
    }

    .error-message {
      display: flex;
      position: relative;
      width: 100%;
      justify-content: center;
      color: var(--red);
      font-weight: 600;
      margin-top: -1rem;
      text-align: center;

      &.error-message-placeholder {
        opacity: 1;
      }
    }

    .username-pass-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: var(--gapXL);
    }

    .input-fields-container {
      width: 100%;
      margin-bottom: var(--marginMedium);
      position: relative;
      margin-top: -1rem;

      .input-field-label {
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    .credential-field {
      font-size: 1rem;
    }

    .username-pass-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: var(--gapXL);
    }
  }

  .no-controllers-warning {
    display: flex;
    flex-direction: column;
    gap: var(--gapSmall);
    background-color: var(--lightRed);
    border-radius: 6.4px;
    border-left-color: var(--red);
    border-left-style: solid;
    border-left-width: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 10px 0px;
    box-sizing: border-box;
    color: var(--tableText);
    font-family: sans-serif;
    font-weight: 400;
    margin-top: var(--marginXL);
    margin-bottom: var(--marginXL);
    padding: var(--paddingXL);
    text-rendering: optimizelegibility;
    min-width: 37.5rem;
    width: fit-content;
    height: fit-content;

    .warning-title {
      font-size: 1rem;
    }

    .env-var-text {
      color: var(--tableText);
    }

    code {
      color: var(--tableText);
      background-color: var(--stroke);
      padding: var(--paddingSmall);
      border-radius: .2rem;
      width: fit-content;
    }
  }

  .edgecreate {
    &.buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

.login-disabled {
  opacity: .5;
  pointer-events: none;
}

.idp-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.divider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .idp-divider {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    height: 0.125rem;
    max-height: 0.125rem;
    border-top-width: 0.125rem;
    border-top-color: var(--stroke);
    border-top-style: solid;
    margin-top: var(--marginMedium);
    margin-bottom: var(--marginMedium);
    padding-left: var(--paddingXXL);
    padding-right: var(--paddingXXL);
  }

  .id-divider-label {
    margin-left: var(--marginMedium);
    margin-right: var(--marginMedium);
    width: fit-content;
    text-transform: uppercase;
    flex: 1 0 auto;
    color: var(--formSubGroup);
  }
}

.idp-button {
  color: var(--tableText);
  height: var(--defaultInputHeight);
  border-style: solid;
  border-color: var(--inputBorder);
  border-radius: var(--inputBorderRadius);
  vertical-align: middle;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--marginXL);
  overflow: hidden;
  transition: color 0.2s;
  font-size: 0.9375rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  background-color: var(--background);

  .spinner {
    display: inline-block;
    width: var(--spinnerSizeMedium);
    height: var(--spinnerSizeMedium);
    border-radius: 50%;
    background: transparent;
    border-top: var(--spinnerBorderTopMedium);
    border-right: var(--spinnerBorderRightMedium);
    border-bottom: var(--spinnerBorderBottomMedium);
    border-left: var(--spinnerBorderLeftMedium);
    animation: loading .5s infinite linear;
    margin-left: var(--marginSmall);
  }

  &:hover {
    filter: brightness(.95);
    background-color: var(--shaded);
  }
  &:active {
    transform: translateY(1px);
  }
}
