:host {
  flex: 1 1 auto;
  max-width: 33.75rem;
}

.button {
  display:inline-block;
  background-color: #0273fb;
  box-shadow: 0 0.1875rem 0.5625rem #0273fb4d;
  color: #ffffff;
  float:right;
}
.button:disabled {
  cursor: auto;
  pointer-events: none;
  background-color: #0273fb4d;
  box-shadow: 0 0.1875rem 0.5625rem lightgrey;
}

select {
  padding-right: 0;
}

select, input {
  max-width: 37.5rem;
}

.no-controllers-warning {
  display: flex;
  flex-direction: column;
  gap: var(--gapSmall);
  background-color: var(--lightRed);
  border-radius: 6.4px;
  border-left-color: var(--red);
  border-left-style: solid;
  border-left-width: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 10px 0px;
  box-sizing: border-box;
  color: var(--tableText);
  font-family: sans-serif;
  font-weight: 400;
  margin-top: var(--marginXL);
  margin-bottom: var(--marginXL);
  padding: var(--paddingXL);
  text-rendering: optimizelegibility;
  min-width: 37.5rem;
  width: fit-content;
  height: fit-content;

  .warning-title {
    font-size: 1rem;
  }

  .env-var-text {
    color: var(--tableText);
  }

  code {
    color: var(--tableText);
    background-color: var(--stroke);
    padding: var(--paddingSmall);
    border-radius: .2rem;
    width: fit-content;
  }
}

.login-disabled {
  opacity: .5;
  pointer-events: none;
}