.main-content-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &.loggedIn {
    .main-content-row {
      height: calc(100% - var(--headerHeight));
    }
    main {
      margin-left: -1.25rem;
    }
  }

  .main-content-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    background: var(--mainBackground);
  }
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  background-color: var(--navigation);
  height: 100%;

  .modals {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999999;
  }
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'zac', serif !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.global-zac-container {
  position: absolute;
  bottom: -312.5rem;
}

@media (max-width: 1024px) {
  .aside {
    display: none !important;
  }
}

